<!-- chat/templates/chat/index.htm{l -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    Select an Instrument You Want To Subsribe<br>
    <p>Exchange: {{ random_object.instrument }}</p>
    <p>Amount: {{ random_object.amount }}</p>
    <p>Price: {{ random_object.price }}</p>
    <input id="submit-purchase" type="button" value="BUY">
    <input id="submit-sale" type="button" value="SELL">

    <script>
        document.getElementById('submit-purchase').onclick = function(e) {
            let order = document.getElementById('submit-purchase').value.toLowerCase();
            window.location.pathname = `stocks-table/${order}/`;
        };

        document.getElementById('submit-sale').onclick = function(e) {
            let order = document.getElementById('submit-sale').value.toLowerCase();
            window.location.pathname = `stocks-table/${order}/`;
        };
    </script>
</body>
</html>